@font-face {
  font-family: chango;
  src: url('../fonts/Chango-Regular.ttf');
}

html {
  min-height: 100%;
  font-family: chango;
}

.main-container {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
}

.etch-container {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.etch-container h1 {
  color: white;
  text-shadow: 1px 1px 8px purple;
  font-size: 32px;
  padding: 2vh 0;
  animation: appearing 1s ease;
}

.control-option {
  display: flex;
  flex-direction: column;
  width: 1024px;
  animation: appearing 4s ease;
}

@keyframes appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.size-option,
.color-option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.size-option *,
.color-option * {
  margin: 10px 10px;
}
.size-option h4 {
  font-size: 20px;
  color: white;
}

.button {
  font-size: 20px;
  font-family: inherit;
  width: 130px;
  height: 30px;
  border-radius: 10px;
  transition: transform 500ms, box-shadow 1s;
}

.button:hover {
  transform: scale(1.2);
  box-shadow: inset 0 0 20px 1px rgb(105, 116, 115);
}

.slider {
  width: 200px;
  transition: transform 500ms;
}
.slider:hover {
  transform: scale(1.1);
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* grid */
.grid-container {
  width: 512px;
  height: 512px;
  border: 4px solid;
  display: grid;
  animation: appearing 2s ease;
  box-shadow: 0 0 30px 5px rgba(131, 91, 139, 1);
  transition: box-shadow 500ms;
}

.grid-container:hover {
  box-shadow: 0 0 64px 5px rgba(131, 91, 139, 1);
}

.grid-element {
  transition: transform 200ms;
}

.grid-element:hover {
  transform: scale(1.2);
  border: 1px solid white;
  animation: scale-elm 500ms ease infinite alternate;
  box-shadow: 0 0 1px 1px black;
}

@keyframes scale-elm {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.3);
  }
}

body {
  /* background-color: rgb(10, 48, 51); */

  background: repeating-linear-gradient(
    45deg,
    black 64px,
    rgb(41, 10, 51) 10% 10%
  );
}
