@font-face {
  font-family: chango;
  src: url('../fonts/Chango-Regular.ttf');
}

html {
  font-family: chango;
}

.main-container {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
}

.etch-container {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.etch-container h1 {
  font-size: 32px;
  padding: 2vh 0;
  animation: appearing 1s ease;
}

.control-option {
  display: flex;
  flex-direction: column;
  width: 1024px;
  animation: appearing 3s ease;
}

@keyframes appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.size-option,
.color-option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.size-option *,
.color-option * {
  margin: 10px 10px;
}
.size-option h4 {
  font-size: 20px;
}

.button {
  font-size: 20px;
  font-family: inherit;
  width: 130px;
  height: 30px;
}

.slider {
  width: 200px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* grid */
.grid-container {
  width: 512px;
  height: 512px;
  border: 4px solid;
  display: grid;
  animation: appearing 2s ease;
}
